[submodule "Horizon/vendor/spdlog"]
	path = Horizon/vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "Horizon/vendor/GLFW"]
	path = Horizon/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
